body { 
    margin: 0;
	padding: 0;
	border: 0;
    font-family: Helvetica, sans-serif; 
    background-color:#ffbd39;
}
.title{
    text-align: center;
    font-family: 'Libre Barcode 128 Text', cursive;
    margin-top:16px;
    color: #930077;
    
}
h1{
    font-size:48px;
}

form { 
    margin-top: 36px; 
    text-align:center;
    position:absolut;
    z-index:999;
}

form > input { 
    margin-right: 15px; 
    padding:4px;
    font-family: 'Nunito', sans-serif;
    font-size:16px;
}
input{
    width:100px;
    padding:10px;
    height:30px;
    border-radius: 100px;
    transition: ease-in-out .3s;
    
}
input[value=START]{
    color:#ffbd39;
    background-color:#3a0088;
    border-style:none;
    
}
input[value=START]:hover{
    background-color:#e61c5d;
}

input[value=RESET]{
    color:#3a0088;
    background-color:#ffbd39;
    border: solid 2px #3a0088;
}
input[value=RESET]:hover{
    opacity:0.2;
}

.fake-footer{
    width:100%;
    height:36px;
    padding-top:20px;
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-size:11px;
    color: #3a0088;
}
.bottom{
    text-align:left;
/*    background-color:black;*/
    display:flex;
    justify-content: center;
    
}
#results{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

#results > img { 
    padding: 24px 4px 24px 4px;
    width: 200px; 
    height: 120px; 
}

#my_camera{
    display:flex;
    justify-content: center;
    margin-top:16px;
    padding-left:12%;
}
.top{
    width:100%;
    height:80px;
    display:flex;
    justify-content: center;
    
}
a, input{
    cursor:pointer;
}
