body { 
    margin: 0;
	padding: 0;
	border: 0;
/*    background-color:#F8D800;*/
    background-image: linear-gradient( 135deg, #ffbd39 10%, #F8D800 100%);
    overflow-x:hidden;
}
.title{
    text-align: center;
    margin-top: 2%;  
}
h1{
    font-size:48px;
    height:24px;
    font-family: 'Libre Barcode 128 Text', cursive;
    color:#e61c5d;
}
p{
    color:white;
    font-size:14px;
    letter-spacing: 2px;
    width:300px;
    height:20px;
    font-family: 'Permanent Marker', cursive;
    text-align:center;
    margin: 0px auto;
    
}
.demo-container{
    height:360px;
    width:100%;
    margin-top:36px;
    display:flex;
    justify-content: center;
}

#video{
    z-index:999;
    position: absolute;
    filter:contrast(150%);
    border: solid 8px #742dd2;
    border-radius: 40px;
    padding:12px;
/*    width:300px;*/
    background-color:#ff5722;
}
#canvas{
    z-index:999;
    position: absolute;
    left:15%;
}
form { 
    margin-top:-20px; 
    text-align:center;
    position:absolut;
    z-index:999;
}
form > input { 
    font-family: 'Fredoka One', cursive;
    margin-right: 15px; 
    padding:4px;
    font-size:16px;
}
input{
    width:100px;
    padding:8px;
    height:32px;
    border-radius: 100px;
    transition: ease-in-out .3s;
}
input[value=Run]{
    color:#3a0088;
    background-color:#ffbd39;
    border: solid 2px #3a0088;
    transition: ease-in-out 0.2s;
}
input[value=Run]:hover{
    background-color:#e61c5d;
/*    color:#ffbd39*/
    
}
input[value=Reset]{
    color:#ffbd39;
    background-color:#3a0088;
    border: none;
    transition: ease-in-out 0.2s;
}
input[value=Reset]:hover{
    color:white;
}

.fake-footer{
    width:100%;
    margin-top:24px;
    padding: 8px 0px 8px 0px;
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-size:14px;
    color: #3a0088;
}
a:hover{
    color:#e61c5d;
}

.top{
    width:100%;
    height:80px;
    display:flex;
    justify-content: center;
    
}
a, input{
    cursor:pointer;
}

/*
#glitch{
    top:-20px;
    width: 100%;
    height: 0.5px;
    position: absolute;
    z-index:999;
    background-color: #ffbd39;
}
*/
.bottom{
    text-align:left;
    display:flex;
    justify-content: center;
    width:100%;
}
#results{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
#results > img { 
    padding: 16px 4px 16px 4px;
    width: 200px; 
    height: 120px; 
}

#alert{
    text-align:center;
    width:100%;
    padding:24px 0px 40px 0px;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size:48px;
    color: #e61c5d;
}

/*Debug Version*/
#my_camera{
    filter: invert(100%);
    margin-top:36px;
    border: solid 8px #742dd2;
    border-radius: 40px;
}

#glitch{
    top:-20px;
    width: 100%;
    height: 0.5px;
    position: absolute;
    z-index:999;
    background-color: #ffbd39;
}
