body { 
    margin: 0;
	padding: 0;
	border: 0;
    font-family: Helvetica, sans-serif; 
    background-color: hotpink;
}
.title{
    text-align: center;
    font-family: 'Libre Barcode 128 Text', cursive;
    margin-top:16px;
    
}
h1{
    font-size:48px;
}

form { 
    margin-top: 36px; 
    text-align:center;
    position:absolut;
    z-index:999;
}

form > input { 
    margin-right: 15px; 
    padding:4px;
    font-family: 'Nunito', sans-serif;
    font-size:16px;
}
input{
    width:100px;
    padding:10px;
    height:30px;
    color:hotpink;
    background-color:black;
    border-radius: 100px;
    border-style:none;
}
input:hover{
    color:white;
}
.fake-footer{
    width:100%;
    height:36px;
    padding-top:20px;
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-size:11px;
    color:hotpink;
    background-color:black;
}
.bottom{
    text-align:center;
    font-size: 24px;
}
#results { 
    padding:4px;
    font-family: 'Nunito', sans-serif;
}
#results > img { 
    padding-right:2px;
    width: 240px; 
    height: 160px; 
    margin:0px auto;
}
#my_camera{
    margin-top:16px;
    text-align:center;
    padding-left:12%;
}
.top{
    width:100%;
    height:80px;
}
.bottom{
    background-color:black;
}
a, input{
    cursor:pointer;
}
